# ARCHIVO DE CONFIGURACIÓN DE DESPLIEGUE A CREMA.FREE.JE
# Renombra o copia este archivo como '.env.deploy' y coloca tus datos de InfinityFree

# 1. DATOS FTP (Panel de InfinityFree -> FTP Details)
FTP_HOST=ftpupload.net
FTP_USER=if0_38400000
FTP_PASS=TuPasswordDecPanel
FTP_PORT=21
FTP_TARGET_DIR=/htdocs

# 2. DATOS BASE DE DATOS REMOTA (Panel de InfinityFree -> MySQL Databases)
DB_HOST=sql123.infinityfree.com
DB_NAME=if0_38400000_cerema_db
DB_USER=if0_38400000
DB_PASS=TuPasswordDecPanel

# 3. URL DEL SITIO WEB
SITE_URL=http://cerema.free.je
